{% extends 'base.html' %}
{% block content %}
<h2>Content Upload</h2>

<form method="post" enctype="multipart/form-data">
    <label>Choose Course: 
        <select name="course">
            <option value="course1">Course 1</option>
            <option value="course2">Course 2</option>
        </select>
    </label><br>
    <label>Lecture Notes: <input type="file" name="lecture_notes"></label><br>
    <label>External Links: <input type="url" name="external_link"></label><br>
    <button type="submit">Upload</button>
</form>
{% endblock %}